# Generated maps (exclude from repository)
complete_map.png
complete_vegetation_map.png
map_cells/
map_vegetation/

# Cache files
cache/

# Cringe MacOS file
.DS_Store
complete_map_1.png
complete_map_2.png
complete_vegetation_map_1.png
complete_vegetation_map_2.png
